@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */
.section5 {
  background-color: gainsboro;
  height: 700px;
}
.services-container-out {
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  gap: 30px;
  align-content: center;
}
.services-container-in {
  display: flex;
  flex-direction: row;
  height: 400px;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.services-container-in div {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  padding: 30px;
}
/* ------------------------------ Questions form ------------------------------ */

.section6 {
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  gap: 40px;
}

.grupoInput img {
  height: 16px;
}
input {
  height: 45px;
  width: 400px;
  border: 0.1px solid var(--primary);
  position: relative;
  /* margin-top: 40px; */
  padding: 20px;
}

button {
  height: 45px;
  padding: auto;
  width: 100px;
  border-radius: 0;
  border-style: none;
  background-color: #072ac8;
  color: white;
}
/* ------------------------------ Footer ------------------------------ */

.fotter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px;
  height: 300px;
}
.fotter img {
  padding: 30px;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 20px;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
