@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");
:root {
  --primary: #072ac8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}
button {
  background-color: #072ac8;
  border: none;
  color: #fafafa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
a {
  text-decoration: none;
  font-size: 17px;
}
h1 {
  font-size: 55px;
  color: #292e47;
  margin-bottom: 13px;
}
h2 {
  font-weight: 600;
  color: #292e47;
  font-size: 40px;
}
h3 {
  font-weight: 500;
  color: #292e47;
  font-size: 24px;
}
h5 {
  font-weight: 400;
  color: #6b708d;
  font-size: 18px;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */
/* ------------------------------ Navbar ------------------------------ */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5%;
}

#circlenav {
  display: flex;
  height: 20px;
  top: 0%;
}

#circlenav:hover {
  cursor: pointer;
}

#navlist ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  list-style: none;
  font-size: 17px;
  font-weight: 500;
}

#navlist a {
  color: #6b708d;
}

/* #navlist a:first-child {
  color: #0082f3;
 } */

/* #navlist a:nth-of-type(2) {
  color: #6b708d;
 }
 
#navlist a:nth-of-type(3) {
  color: #6b708d;
 } */

#navlist a:hover {
  color: #072ac8;
  cursor: pointer;
}

/*----------COMPROBAR-----------*/
/* .contactus {
  background-color:#072ac8; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.contactus:hover {
  background-color: #414247;
}

/* ------------------------------   SECTION 1 ------------------------------ */

#section1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10%;
  justify-content: end;
}

#sec1text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-right: 8%;
}

.greytext {
  color: #6b708d;
  font-size: 20px;
  line-height: 150%;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*----------COMPROBAR-----------*/

.getintouch:hover {
  background-color: #414247;
}

.seeourwork {
  padding: 15px 0px;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
}

.seeourwork:hover {
  cursor: pointer;
}

#images-3 {
  position: relative;
}

.img1 {
  height: 540px;
}

.card1 {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 0px;
  left: -80px;
  z-index: 1;
}

.card2 {
  height: 39%;
  width: 46%;
  position: absolute;
  bottom: -89px;
  right: -70px;
  z-index: 1;
}

/* ------------------------------ SECTION 2 Partners ------------------------------ */
#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 80px;
}

/* ------------------------------ SECTION 3 Recent projects ------------------------------ */

#section3 {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

#recent-projects,
.container2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0px;
}

#recent-projects div,
.container2 div {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
#box1 img,
.container2 img {
  height: 240px;
  width: 320px;
}

.text-projects {
  padding: 20px;
  padding-bottom: 40px;
}
/* ------------------------------ Client reviews ------------------------------ */
.section4 {
  background-color: #292e47;
  background-image: url(../images/testimonial-section/orbit.png);
  background-size: cover;
  position: relative;
  padding: 15px;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.containerimg img:nth-child(1) {
  position: absolute;
  top: 50px;
  left: 130px;
  height: 140px;
  width: 140px;
}
.containerimg img:nth-child(2) {
  position: absolute;
  bottom: 50px;
  right: 130px;
  height: 140px;
  width: 140px;
}
.containerimg img:nth-child(3) {
  position: absolute;
  bottom: 50px;
  left: 130px;
  height: 140px;
  width: 140px;
}
.containerimg img:nth-child(4) {
  position: absolute;
  top: 50px;
  right: 130px;
  height: 140px;
  width: 140px;
}
.container4 div {
  display: flex;
  text-align: justify;
  align-items: center;
}
.container4 h2 {
  color: #fafafa;
}
.container4 h3 {
  color: #ffc600;
  width: 70%;
  text-align: center;
}
.container4 div img {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin: 2px 10px;
}

.TestimonialName {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 18px;
}
.TestimonialName :first-child {
  color: rgb(119, 201, 230);
  margin-left: 12px;
  font-weight: 400;
  font-size: 17px;
}
.TestimonialName :last-child {
  color: #fafafa;
  margin-left: -22px;
  font-weight: 400;
  font-size: 13px;
}
/* ------------------------------ Services ------------------------------ */
.section5 {
  display: flex;
  flex-direction: column;
  margin: 120px 80px 120px 80px;
  gap: 70px;
}

.container5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
  align-content: stretch;
  justify-content: space-evenly;
}

#k67 {
  width: 40px;
  height: 2px;
  background-color: rgba(110, 188, 236, 0.751);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  position: relative;
}
#k67 img {
  position: absolute;
  margin-top: -30px;
}
.container5 div {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  gap: 45px;
  padding: 40px;
  align-items: flex-start;
  width: 350px;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 55px;
}
.container5 button,
.text-projects a {
  color: var(--primary);
  background-color: #fafafa;
  margin-top: 20px;
  padding: 0;
  font-weight: 550;
}
/* ------------------------------ Questions form ------------------------------ */
.section6 {
  background-color: #ffc600;
  padding: 20px;
}
.container6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  flex-wrap: wrap;
  align-content: center;
  padding: 70px;
  gap: 40px;
}

.input {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 10px;
  align-items: center;
}

.container6 input {
  border: 1px solid #072ac8;
  height: 50px;
  width: 393px;
  padding-left: 50px;
  position: relative;
}
.input img {
  position: absolute;
  margin-left: 15px;
  z-index: 2;
}

/* ------------------------------ Footer ------------------------------ */

.containerFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
  gap: 30px;
}
.container2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 30px 8px;
}
.containerFooter img {
  height: 30px;
  margin-bottom: 20px;
}
/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Project main ------------------------------ */
.section1,
.section2 {
  display: flex;
  flex-direction: column;
  margin: 80px;
  gap: 50px;
  color: #292e47;
  font-size: 20px;
  line-height: 40px;
}
.container-project {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.mainProject {
  background-image: url(../images/projects-section/1.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}

a:visited {
  color: var(--primary);
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ------------------------------ Form ------------------------------ */
/* Your CSS code goes here */
/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */
/* Your CSS code goes here */
/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */
/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  * {
    font-size: 17px;
  }
  a {
    font-size: 15px;
  }
  h2 {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
  }
  .input {
    flex-direction: column;
    position: relative;
    width: 80%;
  }
  .input img {
    left: 0px;
    top: 15px;
    height: 20px;
  }
  .input input {
    width: 100%;
    border: none;
    font-size: 15px;
  }
  .container6 button {
    width: 100%;
  }
  .container6 {
    margin: 40px;
    padding: 0px;
  }
  .containerFooter {
    flex-direction: column;
    text-align: center;
    margin: 24px;
  }
  .containerFooter img {
    height: 25px;
  }
  .container2-grid {
    gap: 8px;
    align-items: center;
    justify-items: center;
  }

  .section1,
  .section2 {
    margin: 40px;
    gap: 25px;
    line-height: 27px;
  }
  .container-project {
    flex-direction: column;
    align-items: flex-start;
  }
  .container2 {
    flex-direction: column;
    align-items: center;
  }
  #box1 img,
  .container2 img {
    height: 240px;
    width: 320px;
  }

  .section5 {
    margin: 98px 29px 98px 29px;
  }
  .container5 div {
    width: none;
  }
  #box1,
  .container2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .containerimg {
    display: none;
  }
  .container4 h3 {
    width: 120%;
  }
}
/* ------------------------------ Hamburguer menu ------------------------------ */
/* Your CSS code goes here */
/* ------------------------------ Alert ------------------------------ */
/* Your CSS code goes here */
/* ------------------------------ Sticky scroll bar ------------------------------ */
/* Your CSS code goes here */
